* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
}

/* Layout wrapper */
.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
  min-height: 0;
  background-color: #F6F6F6;
}

.content {
  flex: 1;
  padding: 24px;
  overflow: auto;
  background-color: #F6F6F6;
}